#### This script aim to extract the zika cases in Brazil. Especifically:  the number of reported cases per epidemiological week, from 2015 to 2018, for each municipality of Brazil.

In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import csv
import sys
import glob

In [2]:
# get data file names
path = r'C:\Users\juliane.oliveira\Desktop\Datalake\SINAN\Zika'
filenames = glob.glob(path + "/*.csv")

In [3]:
filenames

['C:\\Users\\juliane.oliveira\\Desktop\\Datalake\\SINAN\\Zika\\ZIKA2015.csv',
 'C:\\Users\\juliane.oliveira\\Desktop\\Datalake\\SINAN\\Zika\\ZIKA2016.csv',
 'C:\\Users\\juliane.oliveira\\Desktop\\Datalake\\SINAN\\Zika\\ZIKA2017.csv',
 'C:\\Users\\juliane.oliveira\\Desktop\\Datalake\\SINAN\\Zika\\ZIKA2018.csv']

In [4]:
lst_df = []
for f in filenames:
    df = pd.read_csv(f, low_memory = False, encoding="iso-8859-1")
    df = df.filter(['tp_not','id_agravo', 'cs_sexo',
                       'cs_gestant','cs_raca','cs_escol_n',
                      'id_mn_resi','dt_notifi','sem_not',
                      'sem_pri','dt_sin_pri','nu_idade_n',
                      'classi_fin','criterio'], axis=1)
    lst_df.append(df)

In [5]:
#df1 = pd.read_csv(filenames[0], low_memory = False, encoding="iso-8859-1")
#df1.columns

In [6]:
SINAN_zika = pd.concat(lst_df)

In [7]:
SINAN_zika.to_csv('SINAN_zika.csv')

In [7]:
SINAN_zika.head()

,tp_not,id_agravo,cs_sexo,cs_gestant,cs_raca,cs_escol_n,id_mn_resi,sem_not,sem_pri,dt_sin_pri,nu_idade_n,classi_fin,criterio
0,2.0,A928,F,5.0,4.0,6.0,510610.0,201453.0,201453.0,2015-01-02,4022.0,2.0,2.0
1,2.0,A928,F,2.0,9.0,9.0,330490.0,201453.0,201453.0,2015-01-03,4020.0,2.0,1.0
2,2.0,A928,F,5.0,4.0,6.0,290980.0,201501.0,201501.0,2015-01-04,4024.0,8.0,NaN
3,2.0,A928,M,6.0,4.0,8.0,510340.0,201501.0,201453.0,2015-01-01,4029.0,8.0,NaN
4,2.0,A928,F,3.0,4.0,0.0,251480.0,201501.0,201453.0,2015-01-03,4026.0,8.0,NaN