In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import csv
import sys
import glob

# File of the population by sex and age-gruop for each municipality

In [ ]:
# get data file names
path =r'G:\Datalake\POPULACAO\csv'
filenames = glob.glob(path + "/*.csv")

In [ ]:
filenames

In [ ]:
df = pd.read_csv(filenames[0])

In [ ]:
df.head()

In [ ]:
lst_df = []
for f in filenames:
    df = pd.read_csv(f)
    lst_df.append(df)

In [ ]:
len(filenames)

In [ ]:
fil

In [ ]:
POP = pd.read_csv(filenames[0])
for i in range(1,13):
    POP=POP.append(lst_df[i], ignore_index=True, sort=False)

In [ ]:
POP.head()

In [ ]:
#POP.to_csv('populacao.csv')

# The objective in the remaining part is to work out on the calculus of extrapolations and estimations for the size of the population in desired aggregations.

In [ ]:
POP.FXETARIA.unique()

In [ ]:
POP.info()

In [ ]:
#lista de populacao femenina por municipio para cada faixa etaria e por ano
lst = []
for i in pop_female['MUNIC_RES'].unique():
    data_muni = pop_female[pop_female.MUNIC_RES == i]
    lst.append(data_muni)

In [ ]:
# funcao para calcular a taxa de (de)crescimento da populacao na faixa etaria 
def inicial_final_pop(dataframe):
    results=[]
    for fx in dataframe['FXETARIA'].unique():
        pop_i = dataframe[dataframe.FXETARIA == fx][dataframe[dataframe.FXETARIA == fx].ANO ==2000].iloc[0]['POPULACAO']
        pop_f = dataframe[dataframe.FXETARIA == fx][dataframe[dataframe.FXETARIA == fx].ANO ==2010].iloc[0]['POPULACAO']
        growth_rate = (pop_f/pop_i)**(1/10) -1
        #print(fx,pop_i,pop_f,growth_rate)
        population = pop_f + growth_rate*pop_f
        results.append([fx,pop_i,pop_f,growth_rate,population])
    return results

In [ ]:
range(len(lst))

In [ ]:
time = 1999

for i in range(len(lst)):
    pop = []
    population = inicial_final_pop(lst[i])[0][1]
    while population < 1000:
        population = population + inicial_final_pop(lst[i])[0][3]*population
        if population >= 1000 or population<150:
            break
        else:
            print (population)
            time = time + 1
            pop.append([time,population])
#return pop

In [ ]:
pop

In [ ]:
population = inicial_final_pop(lst[0])[0][1]
population

In [ ]:
inicial_final_pop(lst[0])

In [ ]:
for i in pop_female.FXETARIA.unique():
    fxi = lst[0][lst[0].FXETARIA == i]
    time = 0 #### esse programa ta melhor
    population = fxi.POPULACAO[0] 
    pop = [population] 
    pop_final = fx1[fx1.ANO ==2010].iloc[0]['POPULACAO']
    growth_rate = (pop_final/population)**(1/10) -1 #    
    while population < 1000:
        population = population + growth_rate * population
        if population >= 1000 or population<100:
            break
        else:
            print (population)
            time = time + 1
    pop.append(population)
    plot(fxi.ANO,fxi.POPULACAO)

In [ ]:
inicial_final_pop(lst[0])

In [ ]:
lst[0];

In [ ]:
lst[0][lst[0].FXETARIA == 0][lst[0][lst[0].FXETARIA == 0].ANO ==2010].iloc[0]['POPULACAO']

In [ ]:
for i in pop_female.FXETARIA.unique():
    fxi = lst[0][lst[0].FXETARIA == i]
    time = 0 #### esse programa ta melhor
    population = fxi.POPULACAO[0] 
    pop = [population] 
    pop_final = fx1[fx1.ANO ==2010].iloc[0]['POPULACAO']
    growth_rate = (pop_final/population)**(1/10) -1 #    
    while population < 1000:
        population = population + growth_rate * population
        if population >= 1000 or population<100:
            break
        else:
            print (population)
            time = time + 1
    pop.append(population)
    plot(fxi.ANO,fxi.POPULACAO)

In [ ]:
fx1

In [ ]:
r = (193/275)**(1/10) -1

In [ ]:
fx1 = lst[0][lst[0].FXETARIA == 0]
#plot(fx1.ANO,fx1.POPULACAO, 'o')
fx1

In [ ]:
time = 0 #### esse programa ta melhor
population = 275 
pop = [275] 
growth_rate = (193/275)**(1/10) -1 # 
while population < 1000:
    population = population + growth_rate * population
    if population >= 1000 or population<100:
        break
    else:
        print (population)
        time = time + 1
    pop.append(population)

# File of the population by race, sex and age-gruop for each municipality

In [2]:
#data = pd.read_csv('tabela3175_2.csv',low_memory=False, encoding='iso-8859-1', delimiter='\t')

data = pd.read_csv('tabela3175.csv', skiprows=4, low_memory=False, encoding='iso-8859-1')

In [5]:
data = data.iloc[0:1202039]

In [7]:
data = data.rename(columns={"CÃ³d.": "codmun", "MunicÃ­pio": "mame_muni","Cor ou raÃ§a":"cor"})

In [10]:
data = data.replace({'cor' : { 'Branca' : 1, 'Preta' : 2, 'Amarela': 3, 'Parda' : 4, 'IndÃ\xadgena': 5, 'Sem declaraÃ§Ã£o': 9 }, 
                  'Sexo': {'Mulheres': 1, 'Homens': 2}, 
                    'Idade': {'0 a 4 anos': 4, '5 a 9 anos': 509, '10 a 14 anos': 1014, '15 a 19 anos': 1519,
                              '20 a 24 anos': 2024, '25 a 29 anos': 2529, '30 a 34 anos': 3034, '35 a 39 anos': 3539,
                              '40 a 44 anos':4044, '45 a 49 anos': 4549, '50 a 54 anos': 5054, '55 a 59 anos': 5559,
                              '60 a 64 anos': 6064, '65 a 69 anos': 6569, '70 a 74 anos': 7074, 
                              '75 a 79 anos': 7579,'80 a 89 anos': 8099, '90 a 99 anos': 8099 }})

In [13]:
data= data.replace('-',0)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202039 entries, 0 to 1202038
Data columns (total 6 columns):
codmun       1202039 non-null object
mame_muni    1202039 non-null object
cor          1202039 non-null object
Sexo         1202039 non-null int64
Idade        1202039 non-null int64
Total        1202039 non-null int32
dtypes: int32(1), int64(2), object(3)
memory usage: 50.4+ MB

In [21]:
data.head()

    codmun                   mame_muni cor  Sexo  Idade  Total
0  1100015  Alta Floresta D'Oeste (RO)   1     2      4    430
1  1100015  Alta Floresta D'Oeste (RO)   1     2    509    393
2  1100015  Alta Floresta D'Oeste (RO)   1     2   1014    484
3  1100015  Alta Floresta D'Oeste (RO)   1     2   1519    524
4  1100015  Alta Floresta D'Oeste (RO)   1     2   2024    462

In [20]:
data.Total = data.Total.astype(int)
data.groupby(['cor'])['Total'].sum()

cor
1    91041211
2    14514650
3     2083987
4    82267374
5      817736
9        6605
Name: Total, dtype: int32

In [23]:
data.to_csv('pop_race_sex_age.csv')